body {
    padding: 0; 
    margin: 0;
    font-family: Helvetica;
}

#header {
    box-shadow: 1px 1px 5px 1px #aaa;
    width: 100%;
    background:white;
    font-size: 1.2em;
    text-align: center;
    position:fixed;
    top: 0px;
    left:0px;
    padding-top:10px;
}


.selected#purple{
    border-bottom: 2px solid #8d2f88;
}

.selected#green {
    border-bottom: 2px solid #1a9338;
}

.selected #yellow {
    border-bottom: 2px solid #b0cc50;
}

.selected #red{
    border-bottom: 2px solid #e5292a;
}

#hereLabel {
    color: rgba(0, 173, 242, 255);
    font-weight: bold;   
}

#maker {
    color: #8d2f88;
}

table {
    margin: 0px 0px;
    width: 100%;
    border-collapse: collapse;
}

iframe {
    margin-top:25%;
    width: 100%;
    min-height: 100%;
    border: none;
}
