#title {
    background:white;
    position:fixed;
    width:100%;
    height:50px;
    top:0px;
}

#navigation{
    width: 50px;
    border:1px solid red;
    position:fixed;
    top:100px;
    left:0px;
}

iframe {
    padding-left:25px;
    width: 100%;
    height: 100%;
    border: none;
}
    
